$primary: rgb(12, 128, 151);
$secondary: rgb(227, 227, 227);
$dark: rgb(25, 24, 26);
$white: #fff;

* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.card-body{
    s,span{
        position: relative;
        padding-left: 45px;
        margin-right: 10px
    };
    s::before{
        position: absolute;
        content: '原價 :';
        left: 0;
        width: 40px;
    };
    span::before{
        position: absolute;
        content: '特價 :';
        left: 0;
        width: 40px;
    };
}
header {
    background: $dark;
    color: $white;
    padding: 50px 0px;
    text-align: center;

    h1 {
        color: $primary;
        font-size: 40px;
        margin-bottom: 0px;
    }

    p {
        color: $white;
        opacity: .9;
    }
}

.row_1 {
    display: flex;
    flex-wrap: wrap;
}

.col_1 {
    width: 33.333%;
    padding: 15px;
}
.disable {
    opacity: 0.5;
    cursor: inherit!important;
}

.d_none{
    display: none;
}



.card {
    border: 1px solid $secondary;
    cursor: pointer;
    position: relative;

    img {
        width: 100%;
    }

    .card-body {
        padding: 15px 10px;
    }

    h3 {
        color: $primary;
        margin-bottom: 5px;
    }

    p {
        margin-top: 5px;
    }
}
.joind{
    position: relative;
}
.joind::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(https://img.icons8.com/external-filled-outline-perfect-kalash/256/external-Tick-basic-filled-outline-perfect-kalash.png) no-repeat;
    background-size: auto 100%;
    top: 0;
    right: 0;
    z-index: 1;
}
.img_content{
    width: 50%;
    margin: 0 auto;
    img{
        width: 100%;
    }
}
